.success__container {
  position: relative;
  color: white;
}
.success__top {
  background-color: var(--second-clr);
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  padding: 2rem 8rem;
}
.success__content {
  width: 100%;
  min-height: 800px;
  position: relative;
}
.success__title {
  font-size: 2.5rem;
  width: 55%;
  text-align: right;
}
.success__tabs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 4.4rem;
}
.success__tab {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 2rem;
  color: rgb(136, 133, 133);
  padding-right: 0;
  font-weight: bold;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 2px;
}
.success__tab__active {
  color: white;
  position: relative;
  transform: translateX(-1rem);
}
.success__tab__active::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -140px;
  transform: translateY(-50%);
  width: 70px;
  height: 4px;
  background-color: white;
  border-radius: 20px;
}
.success__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.success__item__container {
  max-width: 700px;
  padding: 0 2rem;
  margin: 0 0 0 auto;
}
.success__item__title {
  font-size: 2.4rem;
  margin: 0 0 2rem;
}
.success__item__text {
  font-size: 1rem;
  line-height: 2;
}
@media (max-width: 1280px) {
  .success__container {
    color: white;
  }
  .success__title {
    text-align: center;
    width: 100%;
    padding: 0;
  }
  .success__top {
    background-color: var(--second-clr);
    width: 100%;
    height: 100%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .success__tabs {
    flex-direction: row;
    padding: 0;
    gap: 1.6rem;
    margin: 2rem 0 0;
  }
  .success__tab {
    font-size: 1.4rem;
    padding: 0 0 0.2rem 0;
    letter-spacing: 0;
  }
  .success__tab__active {
    color: white;
    border-bottom: 2px solid white;
    transform: none;
  }
  .success__tab__active::after {
    display: none;
  }
  .success__img {
    height: calc(100vh - 6rem);
  }
}
@media (max-width: 768px) {
  .success__title {
    font-size: 1.6rem;
  }
  .success__tab {
    font-size: 1.1rem;
  }
}
