@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --first-clr: #59b5ba;
   --second-clr: #07162d;
}

html,
body {
   scroll-behavior: smooth !important;
}

* {
   font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
.bold {
   font-weight: 900;
}

.flip-card {
   width: 300px;
   height: 450px;
   background-color: transparent;
   perspective: 1000px;
}

.city_flip {
   width: 300px;
   height: 250px
}

.up .flip-card {
   @apply translate-y-6;
}

.down .flip-card {
   @apply -translate-y-6
}

.flip-card h3 {
   font-size: clamp(17px, 1.5vw, 1.5rem);
}

.flip-card-inner {
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   transition: transform 0.6s;
   transform-style: preserve-3d;
}

.flip-card-back {
   box-shadow: 0 2rem 3rem rgba(0, 0, 0, .05);
   transform: rotateY(180deg);
}

.flip-card:hover .flip-card-inner {
   transform: rotateY(-180deg);
}

.flip-card:hover .flip-card-inner .flip-card-front span.absolute {
   z-index: 0;
}

.flip-card:hover .flip-card-inner .flip-card-front>div {
   z-index: 0;
}

.flip-card-front,
.flip-card-back {
   position: absolute;
   width: 100%;
   height: 100%;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
}

.flip-card-front {
   background-color: #bbb;
   color: black;
}

.city_flip_front {
   background-color: white;
   color: var(--first-clr)
}

.flip-card-front img {
   z-index: 0;
}

.flip-card-front span.absolute {
   z-index: 1;
}

.flip-card-front>div {
   z-index: 2;
}

.out {
   -webkit-text-fill-color: transparent;
   -webkit-text-stroke: 1px;
   /* clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
   -webkit-clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%); */
   clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
   -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

h2 {
   line-height: 4rem !important;
}

.hero h1,
.hero h2 {
   line-height: 2.5rem !important;
}

@media (max-width: 640px) {
   h2 {
      line-height: 2rem !important;
   }

   .hero h1,
   .hero h2 {
      line-height: 2rem !important;
   }
}

.md\:container.special {
   padding: 0;
   max-width: 100%;
}

@media (min-width: 1024px) {
   .md\:container.special {
      width: calc((300px * 3) + 3rem);
   }
}

@media (min-width: 1280px) {
   .md\:container.special {
      width: calc((300px * 4) + 4rem);
   }
}

@media (max-width: 1024px) {
   .swiper-wrapper {
      transform: translateX(calc((100vw - 300px) / -2));
   }
}

.programs {
   background-image: url(/images/visionbg.webp);
   background-size: cover;
}

.main__title {
   position: relative;
   text-transform: uppercase;
   margin: 0 auto 2rem;
   font-size: 2rem;
   width: fit-content;
   transition: 0.2s;
   background: linear-gradient(90deg,
         var(--first-clr),
         #ffff00,
         #15772a,
         #0033ff,
         #0cd105,
         var(--first-clr));
   background-size: 400%;
   text-align: center;
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   background-clip: text;
   min-height: 50px;
   animation: animateTitle 10s linear infinite;
}

.accordion::after {
   content: '';
   position: absolute;
   top: 100%;
   left: 50%;
   transform: translateX(-50%);
   width: 90%;
   height: 1px;
   background-color: #e4e4e4;
   z-index: 1;
}

.dark .accordion::after {
   background-color: #252d40;
}

@keyframes animateTitle {
   0% {
      background-position: 0%;
   }

   100% {
      background-position: 400%;
   }
}

.dots {
   background-image: url('/images/dots.png');
   height: 186px;
   width: 204px;
   background-repeat: no-repeat;
   opacity: 0.3 !important;
   position: absolute;
}

.dots-up {
   top: 200px;
   right: 0;
}

.dots-down {
   bottom: 200px;
   left: 0;
}

.swiper-wrapper * {
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.h-screen img.hero-img {
   height: 100vh !important;
}

.slick-prev:before,
.slick-next:before {
   color: var(--first-clr) !important;
   font-size: 27px !important;
}

.slick-prev,
.slick-next {
   z-index: 1 !important;
   width: fit-content !important;
   height: fit-content !important;
   display: block !important;
}

.scaleAmimation {
   animation: scale 5s ease-in-out infinite alternate;
}

@keyframes scale {
   0% {
      transform: scale(1);
   }

   100% {
      transform: scale(1.25);
   }
}

@media (max-width: 900px) {

   .dots,
   .dots-down,
   .dots-up {
      display: none;
   }
}

.subFooter a img {
   filter: invert(73%) sepia(14%) saturate(1317%) hue-rotate(134deg) brightness(89%) contrast(81%)
}

.prog .slick-track {
   margin: 0 !important;
}

.show {
   clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
   -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.unshow {
   clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
   -webkit-clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
}


@media (max-width: 640px) {
   .subFooter a img {
      width: 30px;
   }

   .slick-prev,
   .slick-next {
      display: none !important;
   }
}

.glitter .icon {
   position: relative;
   z-index: 1;
}

.glitter .icon::after,
.glitter .icon::before {
   position: absolute;
   content: "";
   top: 50%;
   left: 50%;
   width: 30px;
   height: 30px;
   background: var(--first-clr);
   transform: translate(-50%, -50%);
   z-index: -1;
   border-radius: 50%;
   opacity: 0;
}

.glitter .icon::after {
   animation: scaleicon 1.5s linear infinite;
}

.glitter .icon::before {
   animation: scaleicon 1.5s linear 0.8s infinite;
}

@keyframes scaleicon {
   0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0;
   }

   50% {
      opacity: 0.4;
   }

   100% {
      transform: translate(-50%, -50%) scale(2.5);
      opacity: 0;
   }
}

@media (max-width: 1023px) {

   /* .glitter .icon::after, .glitter .icon::before {
      content: none;
   }
   .glitter{
      overflow: hidden;
      position: relative;
   }
   
   .glitter::after{
      position: absolute;
      content: "";
      top: 0;
      left: -50%;
      width: 40%;
      height: 100%;
      background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.846), transparent);
      transform: skew(-25deg);
      animation: glitter 0.4s linear;
   }
   .glitter::before{
      position: absolute;
      content: "";
      top: 0;
      left: -55%;
      width: 10%;
      height: 100%;
      background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.846), transparent);
      transform: skew(-25deg);
      animation: glitter2 0.4s linear;
      animation-delay: 0.03s;
   } */
   
   .subFooter .whats {
      background-image: linear-gradient(to bottom, rgb(0, 169, 0), rgb(0, 110, 0));
   }

   .subFooter .hours {
      background-image: linear-gradient(to bottom, aqua, #00a6ff);
   }

   .subFooter .email {
      background-image: linear-gradient(to top, #0c00ff, transparent);
   }

   .subFooter .phone {
      background-image: linear-gradient(to bottom, green, rgb(0, 67, 0));
   }

   .subFooter a img {
      filter: invert(100%) sepia(4%) saturate(16%) hue-rotate(115deg) brightness(106%) contrast(103%);
   }
   .more_item{
      position: relative;
   }
   
   .more_item::after{
      content: "";
      position: absolute;
      top: 150%;
      left: 50%;
      transform: translateX(-50%);
      width: 80%;
      height: 1px;
      @apply bg-gray-300 dark:bg-gray-700
   }
}

@keyframes glitter {
   0% {
      left: -50%;
   }

   100% {
      left: 150%;
   }
}

@keyframes glitter2 {
   0% {
      left: -55%;
   }

   100% {
      left: 155%;
   }
}

footer, .scc {
   background-image: linear-gradient(280deg, rgb(0, 49, 67), rgb(35, 165, 185));
   color: white;
}

.dark footer, .dark .scc {
   background-image: linear-gradient(280deg, rgb(0, 49, 67), var(--second-clr));
}

.navicon {
   filter: invert(100%) sepia(0%) saturate(7481%) hue-rotate(57deg) brightness(106%) contrast(101%);
}

@media (max-width: 1150px) {
   .navicon {
      filter: none;
   }
}
@media (min-width: 1150px) {
   .backto{
      display: none;
   }
}

.dark .navicon {
   filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(229deg) brightness(99%) contrast(102%);
}


.menu {
   background-color: transparent;
}

@media screen and (max-width: 1150px) {
   .menu {
      @apply bg-white dark:bg-gray-900 text-black dark:text-white
   }
}

/* .thankbg::after {
   content: '';
   position: absolute;
   bottom: 0;
   right: 0;
   border-style: solid;
   border-width: 0px 0px 91px 1500px;
   border-color: transparent transparent #ececec transparent;
}
.dark .thankbg::after {
   border-color: transparent transparent #111827 transparent;
} */
.cards {
   width: 340px;
   height: 450px;
 }

 @media (max-width: 767px) {
   .cards{
      width: 240px;
      height: 320px;
   }
 }
 
.cards .swiper-slide {
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 18px;
   font-size: 22px;
   font-weight: bold;
   color: #fff;
 }