@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: "bukra";
   src: local("Times New Roman"), url(../public/fonts/bukraregular.otf);
   font-display: swap;
}

@font-face {
   font-family: "bukrabold";
   src: local("Times New Roman"), url(../public/fonts/bukrabold.otf);
   font-display: swap;
}

:root {
   --first-clr: #59b5ba;
   --second-clr: #07162d;
}

html,
body {
   scroll-behavior: smooth;
}

* {
   font-family: "bukra";
}

h1,
h2,
h3,
h4,
h5,
h6,
.bold {
   font-family: "bukrabold";
}

.regular{
   font-family: "bukra";
}

.flip-card {
   width: 300px;
   height: 450px;
}

.up .flip-card {
   @apply translate-y-6;
}

.down .flip-card {
   @apply -translate-y-6
}

.flip-card h3 {
   font-size: clamp(17px, 1.5vw, 1.5rem);
}

.flip-card {
   background-color: transparent;
   /* width: 100%; */
   padding-top: calc((3 / 2) * 100%);
   perspective: 1000px;
}

.flip-card-inner {
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   transition: transform 0.6s;
   transform-style: preserve-3d;
}

.flip-card-back {
   box-shadow: 0 2rem 3rem rgba(0, 0, 0, .05);
}

.flip-card:hover .flip-card-inner {
   transform: rotateY(-180deg);
}

.flip-card:hover .flip-card-inner .flip-card-front span.absolute {
   z-index: 0;
}

.flip-card:hover .flip-card-inner .flip-card-front>div {
   z-index: 0;
}

.flip-card-front,
.flip-card-back {
   position: absolute;
   width: 100%;
   height: 100%;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
}

.flip-card-front {
   background-color: #bbb;
   color: black;
}

.flip-card-front img {
   z-index: 0;
}

.flip-card-front span.absolute {
   z-index: 1;
}

.flip-card-front>div {
   z-index: 2;
}

.flip-card-back {
   transform: rotateY(180deg);
}

@media (max-width: 767px) {
   .swiper-wrapper {
      transform: translateX(calc((100vw - 300px) / -2));
   }
}

.programs {
   background-image: url(/images/visionbg.webp);
   background-size: cover;
}

.spikes {
   position: relative;
}

.spikes::after {
   content: '';
   position: absolute;
   right: 0;
   width: 100%;
   height: 30px;
   z-index: 1;
   background-image: linear-gradient(135deg, white 25%, transparent 25%),
      linear-gradient(225deg, white 25%, transparent 25%);
   background-size: 30px 30px;
}

.main__title {
   position: relative;
   text-transform: uppercase;
   margin: 0 auto 2rem;
   font-size: 2rem;
   width: fit-content;
   transition: 0.2s;
   background: linear-gradient(
     90deg,
     var(--first-clr),
     #ffff00,
     #15772a,
     #0033ff,
     #0cd105,
     var(--first-clr)
   );
   background-size: 400%;
   text-align: center;
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   background-clip: text;
   animation: animateTitle 10s linear infinite;
 }
 @keyframes animateTitle {
   0% {
     background-position: 0%;
   }
   100% {
     background-position: 400%;
   }
 }

 .dots {
   background-image: url('/dots.png');
   height: 186px;
   width: 204px;
   background-repeat: no-repeat;
   opacity: 0.3 !important;
   position: absolute;
 }
 .dots-up {
   top: 200px;
   right: 0;
 }
 .dots-down {
   bottom: 200px;
   left: 0;
 }
 @media (max-width: 900px) {
   .dots,
   .dots-down,
   .dots-up {
     display: none;
   }
 }